<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:include="layout/headGlobal :: head"></th:block>
	<script th:src="@{/js/views/periodos.js}"></script>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div class="container_48">
	<div class="contenedor">
		<div class="contenedor-form">
			<!-- Begin Title -->
			<th:block th:include="layout/HeadTitle :: TitleHead"></th:block>	
			<!-- End Title -->
			
			<!-- Begin Content -->
				<div class="row">
					<div class="col-sm-1">					</div>
					<div class="col-sm-10 CuadroMarco">
						<table style="width:100%">
							<tr>
								<td style="width:1%;height:10px;"></td>
								<td style="width:5%"></td>
								<td style="width:1%"></td>
								<td style="width:10%"></td>
								<td style="width:1%"></td>
								<td style="width:45%"></td>
								<td style="width:1%"></td>
								<td style="width:15%"></td>
							</tr>
							<tr>
								<td></td>
								<td>Entidad:</td>
								<td></td>
								<td>
									<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								</td>
								<td></td>
								<td>
										<fieldset>
											<legend>Períodos</legend>
											<table style="width:100%">
												<tr>
													<td style="width:1%;height:10px;"></td>
													<td style="width:15%"></td>
													<td style="width:1%"></td>
													<td style="width:15%"></td>
													<td style="width:1%"></td>
													<td style="width:15%"></td>
												</tr>
												<tr>
													<td></td>
													<td align="right">Cuentas Ofertadas:</td>
													<td></td>
													<td>
														<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
													</td>
													<td></td>
													<td>días</td>
												</tr>
												<tr>
													<td></td>
													<td align="right">Cuentas en Tramitación:</td>
													<td></td>
													<td>
														<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
													</td>
													<td></td>
													<td>días</td>
												</tr>
											</table>
										</fieldset>
								
								</td>
								<td></td>
								<td>
								<button id="BtnPrint" class="ui-button ui-widget ui-state-default ui-corner-all
												ui-button-text-only  margin-top-10"
											type="button" role="button" aria-disabled="false">
										<span class="ui-button-text ui-c">Guardar</span>
					 	</button>
								
								</td>
							</tr>
							
						</table>
					</div>
					<div class="col-sm-1">					</div>
				</div>
			<!-- End Content -->		
			
			<!-- Begin Content -->
				<div class="row">
					<div class="col-sm-1">					</div>
					<div class="col-sm-3">				
						<button id="btnClos" class="ui-button ui-widget ui-state-default ui-corner-all
														ui-button-text-only btn_secundario margin-top-10"
														style="left:-10px"
													type="button" role="button" aria-disabled="false">
												<span class="ui-button-text ui-c">Salir</span>
						</button>
						</div>
				</div>	
			<!-- End Content -->
		</div>
	</div>
</div>
</body>
</html>