<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:include="layout/headGlobal :: head"></th:block>
	<th:block th:include="layout/headTable :: head"></th:block>
	<script th:src="@{/js/views/ConsTabAsoc.js}"></script>
	<meta charset="UTF-8"/>
</head>
<body>
<th:block th:include="Messages/alertaError :: alerta"></th:block>
	<th:block th:include="Messages/alertaExito :: alerta"></th:block>
	<th:block th:include="Messages/alertaConfirmacion :: alerta"></th:block>
	<div class="container_48">
		<div class="contenedor">
			<div class="contenedor-form">
				<!-- Begin Title -->
				<th:block th:include="layout/HeadTitle :: TitleHead"></th:block>	
				<!-- End Title -->
				
				<!-- Begin Content 01-->
					<div class="row">
						<div class="col-sm-1">					</div>
						<div class="col-sm-10 CuadroMarco">
						<table style="width:100%">
								<tr>
									<td style="width:1%;height:10px;"></td>
								 	<td style="width:5%"></td>
								 	<td style="width:1%"></td>
								 	<td style="width:3%"></td>
								 	<td style="width:1%"></td>
								 	<td style="width:10%"></td>
								 	<td style="width:1%"></td>
								 	<td style="width:15%"></td>
								 	<td style="width:1%"></td>
								</tr>
								<tr>
									<td></td>
									<td>Tabla:</td>
									<td></td>
									<td>
										<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
									</td>
									<td></td>
									<td>
										<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
									</td>
									<td></td>
									<td>
										<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
									</td>
								</tr>
							</table>	
							
							<table style="width:100%">
								<tr>
									<td style="width:1%;height:10px;"></td>
									<td style="width:80%"></td>
								 	<td style="width:1%"></td>
								 	<td style="width:18%"></td>
								</tr>
								<tr>
									<td></td>
									<td>
										<table style="width:100%" id="tblConsTabAsoc">
										<thead>
											<tr>
													<th>Aplicación</th>
													<th>Código</th>
													<th>Nombre Tabla</th>
											</tr>
										</thead>
											<tbody>
												<tr>
													<th>Test</th>
													<th>Código AAA</th>
													<th>Nombre Tabla AA</th>
												</tr>
											</tbody>
											
										</table>
									
									</td>
									<td></td>
									<td>
									<button id="BtnExport" class="ui-button ui-widget ui-state-default ui-corner-all
												ui-button-text-only  margin-top-10"
											type="button" role="button" aria-disabled="false">
										<span class="ui-button-text ui-c">Exportar</span>
					 				</button>
					 				<br />
					 				<button id="BtnSelect" class="ui-button ui-widget ui-state-default ui-corner-all
												ui-button-text-only  margin-top-10"
											type="button" role="button" aria-disabled="false">
										<span class="ui-button-text ui-c">Ver</span>
					 				</button>
									</td>
								</tr>
							</table>
							
							<table style="width:100%">
								<tr>
									<td style="width:1%;height:10px;"></td>
									<td style="width:80%"></td>
								 	<td style="width:1%"></td>
								 	<td style="width:10%"></td>
								 	<td style="width:1%"></td>
								 	<td style="width:7%"></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<button id="BtnSelect" class="ui-button ui-widget ui-state-default ui-corner-all
												ui-button-text-only  margin-top-10"
											type="button" role="button" aria-disabled="false">
											<span class="ui-button-text ui-c">Imprimir</span>
					 					</button>
									</td>
									<td></td>
									<td>
									<button id="BtnSelect" class="ui-button ui-widget ui-state-default ui-corner-all
												ui-button-text-only  margin-top-10"
											type="button" role="button" aria-disabled="false">
										<span class="ui-button-text ui-c">Anterior</span>
					 				</button>
									</td>
								</tr>
							</table>
							<br/>
						</div>
						<div class="col-sm-1">					</div>
					</div>
				<!-- End Content 01-->		
			</div>
		</div>
	</div>			
</body>
</html>