<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="DivdetalleSelecAmp">
		<table id="tblDetallSelecAm">
			<thead>
				<tr>
					<th style="width:25%">Clave Fila</th>
					<th style="width:10%">Descripción</th>
					<th style="width:10%">Descripción Larga</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Testing </td>
					<td>NO</td>
					<td>D01</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>