<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div th:fragment="divPrint">
	<div id="Imprimir" class="hidden" >
		<table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">
					<img th:src="@{/img/logo.png}" />
				</td>
				<td></td>
				<td colspan="3">SELECCIÓN AMPLIADA DE FILAS DE TABLA REFERENCIAL</td>
			</tr>
			<tr>
				<td>Fecha</td>
				<td>Hora</td>
				<td>Oficina</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="5">=================</td>
			</tr>
			<tr>
				<td>Tabla:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Clave Fila:</td>
				<td></td>
				<td></td>
			</tr>	
			<tr>
				<td>Desc. Corta:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Desc. Larga:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="5">=================</td>
			</tr>
			<tr>
				<td>Clave Fila:</td>
				<td></td>
				<td>Descripción Corta</td>
				<td></td>
				<td>Descripción Larga</td>
			</tr>
			<tr>
				<td colspan="5">---------------</td>
			</tr>
		</table>
	</div>
	
	<script>
    	//FechFormat()
    	ImprimirDiv();
    </script>
</div>	
</body>
</html>