<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <script th:src="@{/js/datatablesPlugins/jquery.dataTables.js}"></script>
    <script th:src="@{/js/datatablesPlugins/buttons.html5.min.js}"></script>
    <script th:src="@{/js/datatablesPlugins/buttons.print.min.js}"></script>
    <script th:src="@{/js/datatablesPlugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/datatablesPlugins/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/datatablesPlugins/jszip.min.js}"></script>
    <script th:src="@{/js/datatablesPlugins/pdfmake.min.js}"></script>
    <script th:src="@{/js/datatablesPlugins/vfs_fonts.js}"></script>
    <script th:src="@{/js/exportTables.js}"></script>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTablesReStyling.css}" rel="stylesheet"/>
</head>
<body>

</body>
</html>