<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
</head>
<body>
	    <div th:fragment="TitleHead">
	    
	    <!-- Begin Content -->
				<div class="row">
					<div class="col-sm-1">					</div>
				    <div class="col-sm-10">				
					    <div class="titulo centrar-objeto btn-inline-set">
							<button id="breadcum" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
										 type="submit" role="button" aria-disabled="false">
									<span class="ui-button-icon-left ui-icon ui-c ui-icon-arrow-1-w"></span>
									<span class="ui-button-text ui-c">ui-button</span></button>
								<div>
									<h2 class="gris-b" id="lblTitle">Alta de </h2>
								</div>
						</div>
				    </div>
	    
	    </div>
	    
	</div>    
</body>
</html>