<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:include="layout/headGlobal :: head"/>
    <th:block th:include="layout/headDataTables :: head"/>
    <title>Products</title>
</head>
<body>
<div class="container_48">
    <div class="contenedor">
        <div class="contenedor-form">
            <div class="titulo centrar-objeto btn-inline-set">
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                        onclick="parent.regresarMenuFrecuente();" type="submit" role="button" aria-disabled="false">
                    <span class="ui-button-icon-left ui-icon ui-c ui-icon-arrow-1-w"></span>
                    <span class="ui-button-text ui-c">ui-button</span></button>
                <div>
                    <h2 class="gris-b">Menu</h2>
                </div>
            </div>
            <div class="contenedor-campos">
                <div class="row-flex">
                    <div class="grid_48">
                        <h3>Show Product</h3>
                    </div>
                </div>
                <form>
                    <div>
                        <label>Product Id:</label>
                        <div>
                            <p th:text="${productDto.id}">Product Id</p>
                        </div>
                    </div>
                    <div>
                        <label>Name:</label>
                        <div>
                            <p th:text="${productDto.name}">Description</p>
                        </div>
                    </div>
                    <div>
                        <label>Description:</label>
                        <div>
                            <p th:text="${productDto.description}">Description</p>
                        </div>
                    </div>
                    <div>
                        <label>Price:</label>
                        <div>
                            <p th:text="${productDto.price}">Price</p>
                        </div>
                    </div>
                    <div>
                        <label>Image URL:</label>
                        <div>
                            <p th:text="${productDto.imageUrl}">Image</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>