<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
</head>
<body>
	<div th:fragment="divPrint">
	<div id="Imprimir" class="hidden" >
		<table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Parámetros de Entidad</td>
			</tr>
			<tr>
				<td>Fecha</td>
				<td>Hora</td>
				<td>Oficina</td>
			</tr>
			<tr>
				<td colspan="2">PROCEDIMIENTO DE CALCULO DE ENCAJE:</td>
				
			</tr>
			<tr>
				<td colspan="2">HORA LIMITE PETICIÓN:</td>
				
			</tr>
			<tr>
				<td colspan="2">HORA LIMITE RECOGIDA:</td>
				
			</tr>
		</table>
	</div>
	

    <script>
    	//FechFormat()
    	ImprimirDiv();
    </script>	
	</div>
</body>
</html>