.main {
	background: #f2f2f2;
}

.textVerde {
	color: #039A00;
}

.textAzul {
	color: #06ace3;
}

aside {
	background: #c0392b;
	color: #fff;
}

.semaforoRojo {
	background-color: #FF1616 !important;
	color: black;
	border: 0px;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
}

input.disabled {
	opacity: 0.1;
}

.opacity0 {
	opacity: 0.1;
}

.divStep1 {
	background-color: #ebebeb !important;
}

.divStep2 {
	background-color: #ffffff !important;
}

.padding2 {
	padding: 0.5cm 1cm;
}

.txt-campo-obligatorio {
	color: #AC182C;
	font: menu;
	font-size: 12pt;
}

.txt-titulos {
	color: #0499ca;
	font: menu;
	font-size: 18pt;
}

.botonimagen {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-position: center;
	border: none;
	background-image: url("../img/next.png");
}

.botoncheck {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-position: center;
	border: none;
	background-image: url("../img/check.png");
}

.botonimagenPrev {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-position: center;
	border: none;
	background-image: url("../img/prev.png");
}
.botonimagenEdit {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-position: center;
	border: none;
	background-image: url("../img/add.png");
}
.imagenInfo {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-position: center;
	border: none;
	background-image: url("../img/add.png");
	display:inline-block;
}
.imagenAvatar {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	background-position: center;
	border: none;
	background-image: url("../img/encabezado/avatar.png");
	display:inline-block;
	background-size: cover;
}
.btnMenuGlobal{
	width: 150px;
	background-color: #ebebeb !important;
	margin-right: 10px;
}

.Datos {
    background-color: #ebebeb !important;
}
.titulos {
    color: #0499ca;
    font: menu;
    font-size: 18pt;
}

.Requerido
{
	font:menu;
	color:#AC182C;
}
label
{
	font: inherit;
}