<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:include="layout/headGlobal :: head"></th:block>
	<script th:src="@{/js/views/Centros.js}"></script>
	<meta charset="UTF-8"/>

</head>
<body>

		<th:block th:include="Messages/alertaError :: alerta"></th:block>
		<th:block th:include="Messages/alertaExito :: alerta"></th:block>
		<th:block th:include="Messages/alertaConfirmacion :: alerta"></th:block>
	<div class="container_48">
		<div class="contenedor">
			<div class="contenedor-form">
				<!-- Begin Title -->
				<th:block th:include="layout/HeadTitle :: TitleHead"></th:block>	
				<!-- End Title -->
				<!-- Begin Content -->
				<div class="row">
					<div class="col-sm-1">					</div>
					<div class="col-sm-10 CuadroMarco">
						<table>
							<tr>
								<td style="width:5%;height:10px;"></td>
							 	<td style="width:15%"></td>
							 	<td style="width:1%"></td>
							 	<td style="width:15%"></td>
							 	<td style="width:15%"></td>
							</tr>
							<tr>
								<td></td>
								<td>Salario Mínimo:</td>
								<td></td>
								<td>
									<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								</td>
								<td></td>
								<td>IVA:</td>
								<td></td>
								<td>
									<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								</td>
							</tr>
							<tr>
								<td colspan="5"></td>
								<td>
								<label>
										<input  type="checkbox" value="checkbox" checked="">
										C. de Datos
									</label>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>Importe Multiplo:</td>
								<td></td>
								<td>
									<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								</td>
								<td></td>
								<td>IVA Reducido:</td>
								<td></td>
								<td>
									<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td style="width:1%;height:10px;"></td>
							 	<td style="width:45%"></td>
							 	<td style="width:2%"></td>
							 	<td style="width:45%"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<fieldset>
										<legend>Fechas Retenciones</legend>
										<table style="width:100%">
											<tr>
												<td style="width:1%;height:10px;"></td>
											 	<td style="width:45%"></td>
											 	<td style="width:2%"></td>
											 	<td style="width:45%"></td>
											</tr>
											<tr>
												<td></td>
												<td>Actual:</td>
												<td></td>
												<td>
													<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>			
												</td>
											</tr>
											<tr>
												<td></td>
												<td>Anterior 1:</td>
												<td></td>
												<td>
													<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>			
												</td>
											</tr>
											<tr>
												<td></td>
												<td>Anterior 2:</td>
												<td></td>
												<td>
													<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>			
												</td>
											</tr>
										</table>
									</fieldset>
								</td>
								<td></td>
								<td>
								<fieldset>
										<legend>% Retenciones</legend>
										<table style="width:100%">
											<tr>
												<td style="width:1%;height:10px;"></td>
											 	<td style="width:45%"></td>
											 	<td style="width:2%"></td>
											 	<td style="width:45%"></td>
											</tr>
											<tr>
												<td></td>
												<td>Actual:</td>
												<td></td>
												<td>
													<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>			
												</td>
											</tr>
											<tr>
												<td></td>
												<td>Anterior 1:</td>
												<td></td>
												<td>
													<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>			
												</td>
											</tr>
											<tr>
												<td></td>
												<td>Anterior 2:</td>
												<td></td>
												<td>
													<input id="txtHrLimPet" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>			
												</td>
											</tr>
										</table>
									</fieldset>
								</td>
							</tr>
						</table>
						
						<table style="width:100%">
								<tr>
									
								 	<td style="width:80%"></td>
								 	<td style="width:3%"></td>	
								 	<td style="width:18%"></td>
								 	<td style="width:3%;height:10px;"></td>					
								</tr>
								<tr>
									<td></td>
									<td>
											<button id="BtnPrint" class="ui-button ui-widget ui-state-default ui-corner-all
																		ui-button-text-only  margin-top-10"
																	type="button" role="button" aria-disabled="false">
																	<span class="ui-button-text ui-c">Imprimir</span>
											</button>
									</td>
									<td></td>
									<td>
											<button id="BtnSave" class="ui-button ui-widget ui-state-default ui-corner-all
																		ui-button-text-only  margin-top-10"
																	type="button" role="button" aria-disabled="false">
																	<span class="ui-button-text ui-c">Guardar</span>
											</button>
									</td>
								</tr>
							</table>
							<br/>
					</div>
					<div class="col-sm-1">					</div>
				</div>
				
				<!-- Begin Content -->
				<div class="row">
					<div class="col-sm-1">					</div>
					<div class="col-sm-3">				
						<button id="btnClos" class="ui-button ui-widget ui-state-default ui-corner-all
														ui-button-text-only btn_secundario margin-top-10"
														style="left:-10px"
													type="button" role="button" aria-disabled="false">
												<span class="ui-button-text ui-c">Salir</span>
						</button>
						</div>
				</div>	
				<!-- End Content -->
					
			</div>
		</div>
	</div>
<div id="DivPrintCentros"></div>			
</body>
</html>