<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div th:fragment="divPrint">
	<div id="Imprimir" class="hidden" >
		<table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td colspan="3">-- PARAMETRO. Param. Gen --</td>
			</tr>
			<tr>
				<td>Fecha</td>
				<td>Hora</td>
				<td>Oficina</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="5"></td>
			</tr>
			<tr>
				<td>Datos de la entidad :</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Código Entidad:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Nombre Entidad:</td>
				<td></td>
				<td></td>
			</tr>		
			
			<tr>
				<td>Ciudad AEAT:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Zona Tributaria:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Salario Mínimo:</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Importe Multiplo:</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>IVA:</td>
				<td></td>
				<td>IVA Reducido:</td>
				<td></td>
			</tr>
			
			<tr>
				<td>Soporte Magnético</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td></td>
				<td>Densidad:</td>
			</tr>
			<tr>
				<td>Fechas Retenciones:</td>
				<td></td>
				<td>% Retenciones</td>
			</tr>
			<tr>
				<td>Actual:</td>
				<td></td>
				<td>Current:</td>
			</tr>
			<tr>
				<td>Anterior:</td>
				<td></td>
				<td>Previo:</td>
			</tr>
			<tr>
				<td>Anterior Anterior:</td>
				<td></td>
				<td>Previous Previo:</td>
			</tr>
		</table>
	</div>
	
	<script>
    	//FechFormat()
    	ImprimirDiv();
    </script>
</div>	
</body>
</html>