<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="layout/headGlobal :: head"/>
    <th:block th:include="layout/headDataTables :: head"/>
    <title>Title</title>
</head>
<body>
<div class="container_48">
    <div class="contenedor">
        <div class="contenedor-form">
            <div class="titulo centrar-objeto btn-inline-set">
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                        onclick="parent.regresarMenuFrecuente();" type="submit" role="button" aria-disabled="false">
                    <span class="ui-button-icon-left ui-icon ui-c ui-icon-arrow-1-w"></span>
                    <span class="ui-button-text ui-c">ui-button</span></button>
                <div>
                    <h2 class="gris-b">Example</h2>
                </div>
            </div>
            <div class="contenedor-campos">
                <div class="row">
                    <div class="grid_48">
                        <h3>Nombre obtenido del BsfOperador</h3>
                        <br>
                        <p th:text="'Hola ' + ${nombre}"></p>
                        <br>
                        <h3>Digitalización</h3>
                        <form th:action="${transportUri}" method="post">
                            <input class="form-control col-md-6" name="TRANSPORT" id="TRANSPORT" th:value="${transport}">
                            <div class="clear-row"></div>
                            <button type="submit" class="btn btm-primary" id="btnTransport">Enviar</button>
                        </form>
                    </div>
                    <div class="clear-row"></div>
                    <div class="clear-row"></div>
                    <p class="text-center" th:text="${doc}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>