<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>

</head>
<body>
	<div th:fragment="Divdetalleliq">
		<table id="tblDetall">
			<thead>
				<tr>
					<th style="width:25%">Descripción</th>
					<th style="width:10%">Valor</th>
					<th style="width:10%">Código</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Testing </td>
					<td>NO</td>
					<td>D01</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>