<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>

</head>
<body>
	<div th:fragment="DivdetallelistAud">
		<table id="tblDetallListAud">
			<thead>
				<tr>
					<th style="width:25%">Código</th>
					<th style="width:10%">Parametro</th>
					<th style="width:10%">Valor</th>
					<th style="width:10%">Fecha</th>
					<th style="width:10%">Hora</th>
					<th style="width:10%">Empleado</th>
					<th style="width:10%">Oficina</th>
					<th style="width:10%">Terminal</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>D02 </td>
					<td>CARGO INCON SIT NORM TEST</td>
					<td>D01</td>
					<td>D02 </td>
					<td>CARGO INCON SIT NORM TEST</td>
					<td>D01</td>
					<td>CARGO INCON SIT NORM TEST</td>
					<td>D01</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>