<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:include="layout/headGlobal :: head"></th:block>
	<script th:src="@{/js/views/Cheques.js}"></script>
	<meta charset="UTF-8"/>
</head>
<body>
	<div class="container_48">
			<div class="contenedor">
				<div class="contenedor-form">
					<!-- Begin Title -->
					<th:block th:include="layout/HeadTitle :: TitleHead"></th:block>	
					<!-- End Title -->
					<!-- Begin Content -->
					<div class="row">
						<div class="col-sm-1">					</div>
						<div class="col-sm-10 CuadroMarco">
							<table>
								<tr>
									<td style="width:5%;height:10px;"></td>
							 		<td style="width:30%"></td>
							 		<td style="width:3%"></td>
							 		<td style="width:30%"></td>
							 		<td style="width:3%"></td>
							 		<td style="width:30%"></td>
							 		<td style="width:3%"></td>
								</tr>
								<tr>
									<td></td>
									<td>
										<fieldset >
								 			<legend > N° Días Emitir Devolución </legend>
								 			<table>
								 				<tr>
								 					<td style="width:5%;height:10px;"></td>
											 		<td style="width:10%"></td>
											 		<td style="width:3%"></td>
											 		<td style="width:10%"></td>
											 		<td style="width:3%"></td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>CU:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>Truncamiento:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>Propia Red:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 			</table>
								 		</fieldset>	
									</td>
									<td></td>
									<td>
										<fieldset >
								 			<legend > N° Días Recibir Devolución </legend>
								 			<table>
								 				<tr>
								 					<td style="width:5%;height:10px;"></td>
											 		<td style="width:10%"></td>
											 		<td style="width:3%"></td>
											 		<td style="width:10%"></td>
											 		<td style="width:3%"></td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>CU:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>Truncamiento:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 				
								 			</table>
								 		</fieldset>
									</td>
									<td></td>
									<td>
									<fieldset >
								 			<legend > Acepta Cheque Caducado </legend>
								 			<table>
								 				<tr>
								 					<td style="width:5%;height:10px;"></td>
											 		<td style="width:10%"></td>
											 		<td style="width:3%"></td>
											 		<td style="width:10%"></td>
											 		<td style="width:3%"></td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>N° Días Sobrepasada Caducidad:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 				<tr>
								 					<td></td>
								 					<td>Propia Red sin Saldo:</td>
								 					<td></td>
								 					<td>
								 						<input id="txtHrLimReg" type="text"  class="ui-inputfield ui-inputmask ui-widget ui-state-default ui-corner-all form-control"/>
								 					</td>
								 				</tr>
								 				
								 			</table>
								 		</fieldset>
									</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-1">					</div>	
					<!-- End Content -->
				</div>
			</div>
	</div>
</body>
</html>